extends layout.pug 
block content 
 img(src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSPKOIXWmmu5w_UtB1GSUS7_eZw1Ar3A5pZ0w&usqp=CAU", alt="logo")
 Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae quod quibusdam dicta reiciendis, temporibus enim blanditiis, nesciunt non eos fuga, culpa explicabo! Blanditiis incidunt, eveniet repellendus hic corrupti accusamus minus.