doctype html
html(lang="en")
    head
       
        title Service Special De Technologie
          link(rel="stylesheet", href="/css/style.css")
    body  
         header 
             nav 
                 ul 
                 li   
                    a(href="/") home
                 li  
                    a(href="/about") About
                 li 
                    a(href="/contact") Contact
         block content  